# Descriptive analysis of input data
1. Number of stops, users, active days, and time span.
2. Users' active days description: count, # of stops per active day, duration of activities per active day.

In [1]:
%load_ext autoreload
%autoreload 2
%cd D:\mad4abm

D:\mad4abm

In [2]:
# Load libs
import pandas as pd
import geopandas as gpd
import sqlalchemy
import numpy as np
from scipy import stats
from tqdm import tqdm
from lib import preprocess as preprocess

C:\ProgramData\Anaconda3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\ProgramData\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\ProgramData\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  stacklevel=1)

In [3]:
# Data location
user = preprocess.keys_manager['database']['user']
password = preprocess.keys_manager['database']['password']
port = preprocess.keys_manager['database']['port']
db_name = preprocess.keys_manager['database']['name']
engine = sqlalchemy.create_engine(f'postgresql://{user}:{password}@localhost:{port}/{db_name}')

## 1. Load data

In [4]:
df = pd.read_sql_query(sql="""SELECT * FROM stops;""", con=engine)
df.head(3)

,timestamp,uid,lat,lng,location_method,datetime,leaving_datetime,tzname,TimeLocal,leaving_TimeLocal
0,1559353521,0d3a07aa-e73c-4f98-b10e-cb8d3da77d79,60.000009,15.791768,cell,2019-06-01 02:00:01,2019-06-01 04:00:01,Europe/Stockholm,2019-06-01 04:00:01,2019-06-01 06:00:01
1,1559360671,0d3a07aa-e73c-4f98-b10e-cb8d3da77d79,60.000009,15.791768,cell,2019-06-01 04:07:14,2019-06-01 05:56:28,Europe/Stockholm,2019-06-01 06:07:14,2019-06-01 07:56:28
2,1559361665,0d3a07aa-e73c-4f98-b10e-cb8d3da77d79,60.000694,15.788607,cell,2019-06-01 05:56:28,2019-06-01 06:07:48,Europe/Stockholm,2019-06-01 07:56:28,2019-06-01 08:07:48

In [5]:
print("Data cover %s devices of %s stop points."%(df['uid'].nunique(), len(df)))

Data cover 1032001 devices of 27692741 stop points.

In [6]:
df.loc[:, 'date'] = df.loc[:, 'TimeLocal'].dt.date
print("Data have %s active days from %s to %s."%(df.loc[:, 'date'].nunique(), df.loc[:, 'date'].min(), df.loc[:, 'date'].max()))

Data have 215 active days from 2019-06-01 to 2020-01-01.

In [7]:
df.loc[:, 'dur'] = df['leaving_datetime'] - df['datetime']
tqdm.pandas()
df.loc[:, 'dur'] = df.loc[:, 'dur'].progress_apply(lambda x: x.total_seconds())

100%|██████████| 27692741/27692741 [02:45<00:00, 167127.27it/s]

### 1.1 Overall statistics by month

In [8]:
tqdm.pandas()
df.loc[:, 'month'] = df.loc[:, 'date'].progress_apply(lambda x: str(x).split('-')[1])
df.groupby('month').progress_apply(lambda data: pd.Series({'num_stops': len(data), 'num_uid': data['uid'].nunique()}))

100%|██████████| 27692741/27692741 [00:43<00:00, 640956.12it/s]
100%|██████████| 8/8 [00:13<00:00,  1.66s/it]

       num_stops  num_uid
month
01          8235     5867
06       3276281   305444
07       4472734   334863
08       7501388   322392
09       2721842   127164
10       2169271   116415
11       2502435    98032
12       5040555   415531

## 2. User statistics

In [10]:
df_test = df.loc[df.uid == df.uid[0], :]
df_test.head()

,timestamp,uid,lat,lng,location_method,datetime,leaving_datetime,tzname,TimeLocal,leaving_TimeLocal,date
0,1559353521,0d3a07aa-e73c-4f98-b10e-cb8d3da77d79,60.000009,15.791768,cell,2019-06-01 02:00:01,2019-06-01 04:00:01,Europe/Stockholm,2019-06-01 04:00:01,2019-06-01 06:00:01,2019-06-01
1,1559360671,0d3a07aa-e73c-4f98-b10e-cb8d3da77d79,60.000009,15.791768,cell,2019-06-01 04:07:14,2019-06-01 05:56:28,Europe/Stockholm,2019-06-01 06:07:14,2019-06-01 07:56:28,2019-06-01
2,1559361665,0d3a07aa-e73c-4f98-b10e-cb8d3da77d79,60.000694,15.788607,cell,2019-06-01 05:56:28,2019-06-01 06:07:48,Europe/Stockholm,2019-06-01 07:56:28,2019-06-01 08:07:48,2019-06-01
3,1559379582,0d3a07aa-e73c-4f98-b10e-cb8d3da77d79,59.989805,15.835420,fused,2019-06-01 10:42:10,2019-06-01 11:05:10,Europe/Stockholm,2019-06-01 12:42:10,2019-06-01 13:05:10,2019-06-01
4,1559380908,0d3a07aa-e73c-4f98-b10e-cb8d3da77d79,59.981548,15.803858,cell,2019-06-01 11:14:34,2019-06-01 11:25:15,Europe/Stockholm,2019-06-01 13:14:34,2019-06-01 13:25:15,2019-06-01

In [9]:
def user_stats(data):
    # No. of active days
    num_days = data.loc[:, 'date'].nunique()
    # No. of stays
    num_stays = len(data)
    # Description of active days
    ## Median value of stays/active day
    num_stays_act = data['date'].value_counts().median()
    ## Median value of total duration of stays/active day (h)
    dur_total_act = np.median(data.groupby('date')['dur'].sum()/60/60)
    ## Median value of duration/stay (min)
    dur_median = data['dur'].median()/60
    return pd.Series(dict(num_days=num_days, num_stays=num_stays, num_stays_act=num_stays_act,
                          dur_total_act=dur_total_act, dur_median=dur_median))
tqdm.pandas()
df_user = df.groupby('uid').progress_apply(user_stats).reset_index()

100%|██████████| 1032001/1032001 [31:44<00:00, 541.94it/s]

In [10]:
df_user.describe()

           num_days     num_stays  num_stays_act  dur_total_act    dur_median
count  1.032001e+06  1.032001e+06   1.032001e+06   1.032001e+06  1.032001e+06
mean   6.983204e+00  2.683403e+01   1.685653e+00   1.305300e+00  3.896670e+01
std    1.530738e+01  1.112446e+02   1.877380e+00   1.844141e+00  3.343107e+01
min    1.000000e+00  1.000000e+00   1.000000e+00   1.669444e-01  1.001667e+01
25%    1.000000e+00  1.000000e+00   1.000000e+00   4.581944e-01  2.160000e+01
50%    2.000000e+00  2.000000e+00   1.000000e+00   7.733333e-01  3.220833e+01
75%    5.000000e+00  8.000000e+00   2.000000e+00   1.292917e+00  4.613333e+01
max    2.150000e+02  5.667000e+03   7.300000e+01   3.661181e+01  1.378733e+03

In [11]:
preprocess.dump2db_df(df_user, user, password, port, db_name, table_name='stops', schema_name='description')

## 3. Home locations

In [27]:
df_home = pd.read_sql_query(sql="""SELECT * FROM vgr_homes_2019;""", con=engine)
df_home.head(3)

,sid,geom,device_uid,x,y,duration,count_days,count_stops,deso_code
0,4,0101000020BE0B0000D20BD31991BF1341F74D76F3D371...,0002541e-bcd8-448a-91a4-7ca1e1022f29,323556,6408016,152501,24,58,1480C3730
1,7,0101000020BE0B0000C6989540D8321741B2BC05B30E6B...,00044851-1774-4c16-bef4-e7968dd3e6e5,380086,6401083,25134,3,5,1490C1420
2,9,0101000020BE0B00008100201524C41841CAD7F8293454...,0004804a-e342-4b82-9270-62bb5c51be91,405769,6377681,0,5,7,1452A0020

In [28]:
print("Homes cover %s devices."%len(df_home))

Homes cover 27483 devices.

In [39]:
df_home_desc = df_home['deso_code'].value_counts().rename(index='count').reset_index().rename(columns={'index': 'deso'})

### 3.1 Population representativeness

In [41]:
gdf = gpd.GeoDataFrame.from_postgis(sql="""SELECT * FROM zones;""", con=engine)
gdf = gdf.loc[:, ['deso', 'befolkning', 'geom']]
gdf_home_desc = gdf.merge(df_home_desc, on='deso')

In [47]:
gdf_home_desc.to_file('results/zones_vgr_homes_2019.shp')

In [45]:
stats.kendalltau(gdf_home_desc['befolkning'], gdf_home_desc['count'])

KendalltauResult(correlation=0.34531041460408923, pvalue=3.463599678593136e-73)