# Distance-to-template home and work detection
Check the results of the distances to home and work temporal profiles from the survey

In [1]:
%load_ext autoreload
%autoreload 2
%cd D:\mad4abm

D:\mad4abm

In [2]:
# Load libs
import pandas as pd
import sqlalchemy
from tqdm import tqdm
from lib import preprocess as preprocess

## 1. Load distances and get the shortest distance to work and home

In [3]:
# Data location
user = preprocess.keys_manager['database']['user']
password = preprocess.keys_manager['database']['password']
port = preprocess.keys_manager['database']['port']
db_name = preprocess.keys_manager['database']['name']
engine = sqlalchemy.create_engine(f'postgresql://{user}:{password}@localhost:{port}/{db_name}')

In [4]:
df = pd.read_sql_query(sql="""SELECT * FROM description.tempo_top3_distance;""", con=engine)
df_home = pd.read_sql_query(sql="""SELECT uid, cluster FROM home;""", con=engine)

### 1.1 Select individually the clusters with the shortest distances to home and work

In [5]:
def ind_select(data):
    home_ = data.loc[data.dist2home_wt == data.dist2home_wt.min(), ['cluster', 'dist2home_wt']].values[0]
    data_rest = data.loc[data.cluster != home_[0], :]
    work_ = data_rest.loc[data_rest.dist2work_wt == data_rest.dist2work_wt.min(), ['cluster', 'dist2work_wt']].values[0]
    return pd.Series(dict(home=home_[0], dist2home_wt=home_[1],
                          work=work_[0], dist2work_wt=work_[1]))
tqdm.pandas()
df_hw = df.groupby('uid').progress_apply(ind_select).reset_index().astype({"home": int, "work": int})

100%|██████████| 198916/198916 [10:35<00:00, 312.88it/s]

In [6]:
df_hw = pd.merge(df_hw, df_home.rename(columns={'cluster': 'home_b'}), on='uid', how='left')
df_hw.head()

,uid,home,dist2home_wt,work,dist2work_wt,home_b
0,00008608-f79e-414d-bf1c-25632d6bc059,11,4.530990,3,2.179773,11.0
1,00009689-c524-4a99-95d8-a2397d87db62,1,5.043878,9,3.437044,1.0
2,0000c837-ef82-4dfd-b2a5-00bdc8680b0b,1,5.018043,2,3.209912,NaN
3,0000cd68-c931-4e3c-96f6-7c5837f59b08,20,2.845020,1,2.206873,20.0
4,0000f6ad-ffa4-4af2-9c2a-49d6dc86ec3a,4,3.821748,1,3.582239,2.0

In [7]:
len(df_hw.loc[df_hw.home == df_hw.home_b, :]) / len(df_hw) * 100

51.29652717730097

In [8]:
len(df_hw.loc[df_hw.work == df_hw.home_b, :]) / len(df_hw) * 100

17.98045406101068

In [9]:
df_hw.to_sql('home_work', engine, schema='description', index=False, method='multi', if_exists='replace', chunksize=10000)

## 2. Create data for visualisation

In [10]:
df_hw.loc[:, 'home_group'], _ = pd.qcut(df_hw.dist2home_wt, q=10, retbins=True)
df_hw.loc[:, 'work_group'], _ = pd.qcut(df_hw.dist2work_wt, q=10, retbins=True)
df_hw.head()

,uid,home,dist2home_wt,work,dist2work_wt,home_b,home_group,work_group
0,00008608-f79e-414d-bf1c-25632d6bc059,11,4.530990,3,2.179773,11.0,"(4.4, 4.558]","(0.407, 2.272]"
1,00009689-c524-4a99-95d8-a2397d87db62,1,5.043878,9,3.437044,1.0,"(4.995, 5.4]","(3.28, 3.454]"
2,0000c837-ef82-4dfd-b2a5-00bdc8680b0b,1,5.018043,2,3.209912,NaN,"(4.995, 5.4]","(3.053, 3.28]"
3,0000cd68-c931-4e3c-96f6-7c5837f59b08,20,2.845020,1,2.206873,20.0,"(0.852, 3.198]","(0.407, 2.272]"
4,0000f6ad-ffa4-4af2-9c2a-49d6dc86ec3a,4,3.821748,1,3.582239,2.0,"(3.712, 4.009]","(3.578, 3.691]"

In [3]:
import pandas as pd
grps, bins = pd.qcut(range(0, 100), q=10, retbins=True)

In [11]:
df_hw_h_eg = df_hw.groupby('home_group').sample(n=1, random_state=1).loc[:, ['uid', 'home', 'dist2home_wt', 'home_group']]
df_hw_w_eg = df_hw.groupby('work_group').sample(n=1, random_state=1).loc[:, ['uid', 'work', 'dist2work_wt', 'work_group']]

In [12]:
agents_eg = ','.join(["'" + x + "'" for x in df_hw_h_eg['uid'].values.tolist()] +
                     ["'" + x + "'" for x in df_hw_w_eg['uid'].values.tolist()])

In [13]:
df_examples = pd.read_sql(f'''SELECT * FROM description.tempo_top3 WHERE uid IN ({agents_eg});''', con=engine)
df_examples.head()

   half_hour  freq  freq_wt                                   uid  cluster
0          0   0.0  0.00000  006f2528-1e1a-4695-a21c-50a66585f653        2
1          1   0.4  0.13922  006f2528-1e1a-4695-a21c-50a66585f653        2
2          2   0.4  0.13922  006f2528-1e1a-4695-a21c-50a66585f653        2
3          3   0.0  0.00000  006f2528-1e1a-4695-a21c-50a66585f653        2
4          4   0.0  0.00000  006f2528-1e1a-4695-a21c-50a66585f653        2

### 2.1 Save the data for further visualisation

In [14]:
df_hw_h_eg.sort_values(by=['dist2home_wt'], ascending=False).to_csv('results/home_detection_examples.csv', index=False)
df_hw_w_eg.sort_values(by=['dist2work_wt'], ascending=False).to_csv('results/work_detection_examples.csv', index=False)
df_examples.sort_values(by=['uid', 'cluster', 'half_hour']).to_csv('results/hw_detection_temporal_examples.csv', index=False)